@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", serif; */
:root {
  --darkLightOne: #757575;
  --darkLightTwo: #474747;
  --darkDeep: #181818;
  --orangeColor: #fd6e0a;
  --halfCircleOne: rgba(253, 110, 10, 20%);
  --halfCircleTwo: rgba(253, 110, 10, 15%);
  --halfCircleThree: rgba(253, 110, 10, 10%);
  --whiteHero: #fff8f3;
}
html,
body {
  width: 100%;
  height: 100%;
}
body:not(i) {
  font-family: "Open Sans", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
h4,
h3 {
  color: var(--darkLightTwo);
}
p {
  color: var(--darkLightOne);
}
/* button style */
.btn-primary {
  padding: 16px 33px;
  font-size: 16px;
  background-color: var(--orangeColor);
  border-radius: 5px;
  font-weight: 700;
  color: var(--whiteHero);
  border: none;
}
i {
  font-size: 16px;
  color: var(--whiteHero);
  margin-right: 9px;
}
.fa-phone {
  color: var(--orangeColor);
}
header {
  background-color: var(--whiteHero);
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-size: 90px, 50%;
  background-position: 2% 30%, bottom right;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px 20px 150px;
  padding-top: 45px;
  align-items: center;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
  & span {
    color: var(--orangeColor);
  }
}
nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--darkLightTwo);
  font-weight: 500;
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 50px 35px 0 150px;
}
.banner-content {
  width: 595px;
  margin-top: 100px;
}
.banner .banner-content h3 {
  font-size: 45px;
  font-weight: 600;
}
.banner .banner-content h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 15px;
}
.banner .banner-content p {
  font-size: 18px;
  margin-bottom: 25px;
}
.banner .banner-profile-pic img {
  width: 500px;
}
.banner .banner-content button {
  margin-right: 10px;
}
.banner .banner-content button:last-child {
  background-color: transparent;
  color: var(--orangeColor);
  border: 1px solid var(--orangeColor);
}
/* main style */
main {
  max-width: 1140px;
  margin: 130px auto;
  text-align: center;
}
.about {
  padding: 110px 180px;
  background-color: var(--whiteHero);
  border-radius: 10px;
}
main h3.h3-title {
  font-size: 35px;
  font-weight: 700;
  color: var(--darkDeep);
}
.about > p {
  margin: 30px;
}
.about-items {
  display: flex;
  justify-content: space-evenly;
}
.technical-skill {
  padding: 110px 0px 70px 0;
}
.technical-skill > p {
  padding: 30px 170px;
}
.all-skills {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 20px;
}
.all-skills .skill {
  max-width: 240px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 5px rgba(128, 128, 128, 0.152);
  text-align: start;
  padding: 30px 20px;
  border-radius: 5px;
}
.skill h4 {
  color: #181818;
  margin: 20px 0;
}
.skill p {
  font-size: 16px;
}
.resume-section {
  padding: 30px 0px;
}
.resume {
  display: flex;
  justify-content: space-around;
  margin: 100px 0 50px 0;
}
.resume-title,
h4 {
  color: var(--darkLightTwo);
}
.resume-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.educations,
.experiences {
  text-align: start;
  width: 400px;
  & .education,
  .experience > h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.education p,
.experience p {
  color: var(--darkLightOne);
  font-size: 13px;
  margin: 15px 0;
}
.education h5,
.experience h5 {
  color: var(--darkLightOne);
  font-size: 15px;
}
/* footer styles */
footer {
  background-color: var(--whiteHero);
}
.contact-form {
  padding: 110px 200px;
  display: flex;
  gap: 100px;
}
.contact {
  width: 500px;
}
.contact h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--darkDeep);
}
.contact p {
  font-size: 15px;
  margin: 20px 0;
}
.contact h3,
form h3 {
  font-size: 28px;
  font-weight: bold;
  color: var(--darkDeep);
}
.contact img {
  margin-right: 15px;
}
form > input {
  display: block;
  padding: 10px 17px;
  width: 300px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 25px 0;
}
form > textarea {
  width: 300px;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
}
.hide {
  display: none;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  header,
  main,
  footer,
  section {
    width: 100%;
  }
  header {
    background-image: none;
  }

  .banner {
    flex-direction: column;
  }
  nav {
    align-items: center;
    margin: 0;
    padding: 45px 10px 0 10px;
  }
  nav ul li:not(:last-child) {
    display: none;
  }
  .banner {
    margin: 0;
    flex-direction: column-reverse;
    padding: 0 6px;
  }
  .banner-content {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .banner .banner-content h3 {
    font-size: 30px;
  }
  .banner .banner-content h1 {
    font-size: 40px;
  }
  .banner .banner-content p,
  .about > p {
    font-size: 15px;
    margin: 0;
    padding: 5px;
  }
  .banner .banner-content button {
    margin: 10px 0;
  }
  .banner .banner-profile-pic img {
    width: 100%;
    margin-top: 100px;
  }
  main {
    margin: 0;
  }
  .about {
    margin-top: 100px;
    padding: 50px 0;
  }
  .about-items,
  .all-skills {
    margin-top: 30px;
    flex-direction: column;
  }
  .about-items .item {
    margin-top: 20px;
  }
  main h3.h3-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .technical-skill {
    padding: 0;
    margin-top: 80px;
  }
  .technical-skill > p {
    padding: 0 8px;
  }
  .all-skills {
    align-items: center;
  }
  .experiences,
  .educations {
    width: 100%;
    margin: 50px 0;
    padding: 0 8px;
  }
  .experiences {
    margin-bottom: 10px;
  }
  .resume-section {
    margin: 0;
    margin-top: 120px;
  }
  .resume {
    flex-direction: column;
    margin: 10px 0;
  }
  footer {
    margin-top: 80px;
  }
  .contact-form {
    width: 100%;
    padding: 40px 5px;

    flex-direction: column;
    gap: 60px;
  }
  .contact {
    width: 100%;
  }
  .contact-form form > div {
    text-align: center;
  }
}
